maltego-trx~=1.6.0
requests
cachetools~=5.2.0
-r modules/dnstwist/requirements.txt
-r modules/IOCparser/requirements.txt
-r modules/holehe/requirements.txt
-r modules/wigle/requirements.txt
-r modules/maltemate/requirements.txt
-r modules/nmap/requirements.txt
-r modules/Web2Screenshot/requirements.txt
-r modules/NERV/requirements.txt
-r modules/ghunt/requirements.txt
-r modules/atop/requirements.txt


