maltego-trx~=1.6.0
requests~=2.26.0
cachetools~=5.2.0
inquirer~=3.1.3
-r modules/dnstwist/requirements.txt
-r modules/IOCparser/requirements.txt
-r modules/holehe/requirements.txt
-r modules/wigle/requirements.txt
-r modules/maltemate/requirements.txt
-r modules/nmap/requirements.txt
-r modules/Web2Screenshot/requirements.txt
-r modules/NERV/requirements.txt

